/* เพิ่ม spacing ให้ input + text สวยขึ้น */
.right h2 {
    margin-bottom: 20px;
    color: #5658a7;
  }
  
  .hint {
    font-size: 12px;
    color: #5658a7;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
  }
  
  /* ปุ่ม */
  .right button {
    padding: 12px;
    background: #5658a7;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .right button:hover {
    background: #4749a0;
  }

  .bottom-text {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f1f2f6;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    border-top: 1px solid #ddd;
  }
  
