body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

.main-container {
    max-width: 900px;
    margin: 0 auto;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(111, 78, 78, 0.05);
    padding-bottom: 20px;
}

/* Header */
.header-blue {
    background-color: #4f58a3;
    color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 0 0 30px 30px;
}

.back-btn {
    background: rgba(255, 255, 255, 0);
    border: 2px solid white;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.back-btn:hover {
  transform: scale(1.1);
}

.header-info h1 { margin: 0; font-size: 24px; }
.semester-tag { font-size: 14px; opacity: 0.8; }
.user-profile { margin-left: auto; font-size: 40px; }

.user-profile:hover {
  transform: scale(1.1);
}

.header h2 {
    margin: 0;
    font-size: 18px;
}


.submit-btn {
    background: linear-gradient(to right, #0f7c05c1, #8af27ff5);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 12px;
    display: block;
    margin: 15px auto 0;
    cursor: pointer;
}

.late-btn {
    background: linear-gradient(to right, #EF0B0B, #FF8E8E);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 12px;
    display: block;
    margin: 15px auto 0;
    cursor: pointer;
}

.submission {
    margin: 30px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #0C0000;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2); ;
}

.submission p {
    margin: 5px 0;
    font-size: 14px;
    color: #5658a7;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

tr:nth-child(even) {
  background-color: #d1d1e657;
}

tr:nth-child(odd) {
  background-color: #464a9b57;
}

.submission td:first-child {
  border-right: 1px solid #86868692;
  width: 40%;
}